<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{adds}}</title>
    <style>
        table {
            margin: 0 auto;
            border-collapse: collapse;
            width: 800px;
            height: 500px;
        }

        td {
            border: 1px solid #ccc;
        }

    </style>
</head>

<body>
    <form action="/add" method="post">
        <table>
            <tr>
                <td>姓名</td>
                <td><input name="name" type="text" value=""></td>
            </tr>
            <tr>
                <td>能力</td>
                <td><input name="nengli" type="text" value=""></td>
            </tr>
            <tr>
                    <td>团体</td>
                    <td><input name="jituan" type="text" value=""></td>
                </tr>
            <tr>
                <td>上传图片</td>
                <td><input name="file" type="file" value=""></td>
            </tr>
            <tr>
                <td></td>
                <td><input name="" type="submit" value="新增"></td>
            </tr>
        </table>
    </form>
</body>

</html>